{
    "extends": "airbnb-base",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },
    "rules": {
        "no-console": "off",
        "class-methods-use-this": "off"
    }
}